<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    
    <style type="text/css">
      body {
        overflow: hidden;
        margin: 0px;
      }
      #app {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
      .splash-screen {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #3953D3;
      }
      .splash-screen-img {
        width: 220px;
        height: 160px;
        margin-bottom: 30px;
      }
      .splash-screen-title {
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #E4E7F9;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <div class="splash-screen">
        <div class="splash-screen-img">          
          <img alt="Studio Ghibli Animated GIF | Tatuajes de películas, Dibujos kawaii, Totoro" style="width: 100%; height: 100%; border-radius: 20px; border: 10px solid #FFD527;" src="./img/ghibli.gif">
        </div>
        <div class="splash-screen-title">
          <img alt="DBmenos" style="height: 100%;margin-left: 15px;" src="./img/db-menos.png">
          <span style="margin-left: 2px;">- el re</span>
          <span style="color: #EBCF3E;">to</span>
        </div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
