<template>
  <div v-if="item.visible" class="col-md-4">
    <div class="card mb-4 box-shadow">
      <h3 v-if="item.title">{{ item.title }}</h3>
      <h3 v-if="item.name">{{ item.name }}</h3>
      <img v-if="item.imageUrl" class="card-img-top" v-bind:src="item.imageUrl" >
      <img v-if="!item.imageUrl" class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20226%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_177023743f3%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_177023743f3%22%3E%3Crect%20width%3D%22348%22%20height%3D%22226%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7109375%22%20y%3D%22120.6875%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">

      <div class="card-body">
        <p class="card-text">{{ item.description }}</p>
        <div class="d-flex justify-content-between align-items-center">
          
          <small v-if="item.release_date" class="text-muted">Año {{ item.release_date }}</small>
          <small v-if="item.age" class="text-muted">Puntaje {{ item.rt_score }}</small>

          <small v-if="item.gender" class="text-muted">Sexo {{ item.gender === "male" ? "Nasculino" : "Femenino" }}</small>                   
          <small v-if="item.age" class="text-muted">Edad {{ item.age }}</small>

          <small v-if="item.climate" class="text-muted">Clima {{ item.climate }}</small>                   
          <small v-if="item.terrain" class="text-muted">Terreno {{ item.terrain }}</small>

          <small v-if="item.classification" class="text-muted">Clasificación {{ item.classification }}</small>

          <small v-if="item.vehicle_class" class="text-muted">Clase {{ item.vehicle_class }}</small>          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Card',
    props: ["item"]
  }
</script>

<style>
  .card {
    border-radius: 15px;
  }
</style>