<template>
  <div class="grid scroll">
    <div v-if="loading" class="full">
      <Loading />
    </div>
    <div v-if="!loading && listItems.length === 0" class="full center-center">
      No hay elementos.
    </div>
    <div v-if="!loading && listItems.length > 0" class="container">
      <div class="row">
        <Card v-bind:item="item" v-bind:key="item.id" v-for="item in listItems" />
      </div>
    </div>    
  </div>
</template>

<script>
  import Card from './Card';
  import Loading from './Loading';

  export default {
    name: 'Grid',
    props: ["listItems", "loading"],
    components: {
      Card, Loading
    }
  }
</script>

<style>
  .grid {
    /* display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: blue; */
    margin-top: 20px;
    height: 100%;
    width: 100%;
  }
  .scroll {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .scroll::-webkit-scrollbar {
    width: 12px;
    height: 12px
  }
  .scroll::-webkit-scrollbar-track {
    border-radius: 0
  }
  .scroll::-webkit-scrollbar-thumb {
    border-radius: 9px;
    /* border: 2px solid #EBCF3E; */
    background: #8493E9;
    background-clip: content-box;
    -webkit-box-shadow: none
  }
  .scroll::-webkit-scrollbar-track {
    background: 0 0
  }
  .full {
    height: 100%;
    width: 100%;
  }
  .center-center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>