<template>
  <div class="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only" />
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Loading'
  }
</script>

<style>
  .loading {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>