<template>
  <form class="search container form-search" @submit.prevent="$emit('onSearch', form)">
    <div class="form-row">
      <div class="form-group col-12 col-sd-6 col-md-3">
        <label for="inputEmail4">Buscar</label>
        <input
          type="text"
          class="form-control"
          id="inputEmail4"
          placeholder="Ingrese lo que desea buscar..."
          v-model="form.word"
          :disabled="loading"
        >
      </div>
      <div class="form-group col-12 col-sd-6 col-md-3">
        <label for="inputOrder">Categorias</label>
        <select
          id="inputOrder"
          class="form-control"
          v-model="form.category"
          :disabled="loading"
        >
          <option v-bind:key="option.value" v-for="option in categoriesOptions" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-3">
        <label for="inputOrder">Orden</label>
        <select
          id="inputOrder"
          class="form-control"
          v-model="form.order"
          :disabled="loading"
        >
          <option v-bind:key="option.value" v-for="option in orderOptions" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
      <div class="form-group col-6 col-sm-6 col-md-3">
        <label for="inputPassword4">Límite</label>
        <input
          type="number"
          step="1"
          class="form-control"
          v-model="form.limit"
          :disabled="loading"
          :max=250
          :min=1
        >
      </div>
      <div class="form-group col-12 col-sm-12 col-md-12 form-group-bottom">        
        <button
          type="button"
          class="btn btn-secondary"
          @click="$emit('onClear')"
          :disabled="loading"
        >
          Limpiar
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          :disabled="loading"
        >
          Buscar
        </button>
      </div>
    </div>
  </form>
</template>

<script>
  import FORM from '../constants/Form';

  export default {
    name: 'Search',
    props: ["form", "loading"],
    data() {
      return {
        categoriesOptions: [
          { text: 'Películas', value: FORM.CATEGORIES.FILMS },
          { text: 'Gente', value: FORM.CATEGORIES.PEOPLE },
          { text: 'Lugar', value: FORM.CATEGORIES.LOCATIONS },
          { text: 'Especies', value: FORM.CATEGORIES.SPECIES },
          { text: 'Vehículos', value: FORM.CATEGORIES.VEHICLES },
        ],
        orderOptions: [
          { text: 'Ascendente', value: FORM.ORDER.ASC },
          { text: 'Descendente', value: FORM.ORDER.DESC },
        ],
        FORM
      }
    },
    methods: {
      onChangeLimit( e ) {
        let { value } = e.taget;
        if ( value < 1 ) {
          value = 1;
        }
        if ( value > 250 ) {
          value = 250
        }
        this.form.limit = value
      }
    }
  }
</script>

<style>
  .search {
    /* display: flex; */
    /* width: 100%;
    min-height: 150px;
    background-color: red; */
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: #FEFEFF;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
    /* max-width: 1300px; */
    /* margin: auto; */
  }

  .form-group-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
</style>