<template>
  <div id="app">
    <Header title="- el reto"/>
    <Search v-bind:loading="loading" v-bind:form="form" v-on:onSearch="processForm" v-on:onClear="clearForm" />
    <Grid v-bind:loading="loading" v-bind:listItems="listItems" />
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
// Components
import Header from './components/Header';
import Search from './components/Search';
import Grid from './components/Grid';

// Constants
import FORM from './constants/Form';

// Assets
import { images } from './assets';

// Helpers
import HLocalStorage from './helpers/LocalStorage';
import HRequestApi from './helpers/RequestApi';

export default {
  name: 'App',
  components: {
    Header, Search, Grid
  },
  data() {
    return {
      form: HLocalStorage.get( 'form', JSON.parse( JSON.stringify( FORM.DEFAULT ) ) ),
      listItems: [],
      loading: false
    }
  },
  methods: {
    processForm() {
        
      HLocalStorage.set( 'form', this.form );
      this.loading = true;

      const { category, limit } = this.form;

      HRequestApi.send({
        endPoint: `${ category }?limi=${ limit }`,
        callbackSuccess: ( response ) => {          
          let { data } = response;
          let words = this.form.word.trim().split(" ");
          for (let i = 0; i < data.length; i++) {
            let imageObj = images.find(image => {
              return data[i].id === image.id
            });
            if ( imageObj ) data[i].imageUrl = imageObj.url;
            data[i].visible = true;
            if ( words.length > 0 ) {
              data[i].visible = false;
              for (let j = 0; j < words.length; j++) {
                if ( data[i].title ) {
                  if ( data[i].title.toLowerCase().indexOf( words[j].toLowerCase() ) > -1 ) {
                    data[i].visible = true;
                  }
                } else if ( data[i].name ) {
                  if ( data[i].name.toLowerCase().indexOf( words[j].toLowerCase() ) > -1 ) {
                    data[i].visible = true;
                  }
                }
              }
            }
          }
          if ( this.form.order === FORM.ORDER.ASC ) {
            data.sortBy( o => [ o.title, o.name, o.id ] );
          } else {
            data.sortBy( o => [ -o.title, -o.name, o.id ] );
          }
          this.listItems = data;
          this.loading = false;
        },
        callbackError: () => {
          this.loading = false;
        }
      });
    },
    clearForm() {
      HLocalStorage.set( 'form',  JSON.parse( JSON.stringify( FORM.DEFAULT ) ) );
      this.form = JSON.parse( JSON.stringify( FORM.DEFAULT ) );
      this.loading = false;
      this.listItems = [];
    }
  }
}
</script>

<style>
#app {
  font-family: Open Sans,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #F3F2F6;
  /* margin-top: 60px; */
}
</style>
